@page "/TestPage"
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject ILoginService loginService

<div>
    <button class="btn btn-sucess" onclick="@(() => lstPages.Add("Departments.DepartmentIndex") )">Departamentos</button>
    <button class="btn btn-sucess" onclick="@(() => lstPages.Add("MethodOfPayments.MethodOfPaymentIndex") )">Metodo pago </button>
    <button class="btn btn-sucess" onclick="@(() => lstPages.Add("test") )">Add pestaña </button>
</div>

<div>

</div>

<TabControl>


    @foreach (var item in lstPages!)
    {
        <TabPage Text="@item">
            <h1>The tab numero @item</h1>
            <DynamicComponent Type="@GetMenu(item)" />
        </TabPage>
    }

    

   

</TabControl>



@code {
    /*
     @for (var i = 0; i < lstPages.Count; i++)
    {
        var Texto = $"Tab{lstPages[i]}";
        <TabPage Text="@Texto">
            <h1>The tab numero @Texto</h1>
            <DynamicComponent Type="@GetMenu(i)" />
        </TabPage>
    }*/

    List<string> lstPages = new List<string>() { "Departments.DepartmentIndex" };
    private TabControl tabControl = new TabControl();

    protected override void OnInitialized()
    {
        /*
        RenderFragment renderFragment = renderFragmentBul =>
        {
            renderFragmentBul.OpenComponent(0, new TypeOfCharges.TypeOfChargeIndex().GetType());
            renderFragmentBul.CloseComponent();
        };

        RenderFragment renderFragment2 = renderFragmentBul =>
        {
            renderFragmentBul.OpenComponent(0, new TypeOfCharges.TypeOfChargeIndex().GetType());
        };

        lstPages.Add(new TabPage() { Text = $"Tab1", ChildContent= renderFragment });
        lstPages.Add(new TabPage() { Text = $"Tab2", ChildContent= renderFragment2 });



        tabControl.AddPage(new TabPage() { Text = "Tab1", ChildContent = renderFragment });
        StateHasChanged();
        */
        //base.OnInitialized();
    }

    private Type GetMenu(string page)
    {
        Type type = Type.GetType($"ARE.WEB.Pages.{page}");
        return Type.GetType($"ARE.WEB.Pages.{page}");
    }

    /*
<TabControl @ref="tabControl" >j


     <TabPage Text="Tab 1">
        <h1>The first tab</h1>
    </TabPage>
    <TabPage Text="Tab 2">
        <h1>The second tab</h1>
    </TabPage>
    <TabPage Text="Tab 3">
        <h1>The third tab</h1>
    </TabPage>
        */
}
