@page "/branchOffices"
@inject IRepository repository
@inject SweetAlertService Alert
@inject NavigationManager navigationManager
@inject IJSRuntime JS



<GenericList ShowPopUp="ShowPopUp"
             TitleCatalogo="Sucursales"
             IconTitle="oi oi-box"
             MyList="BranchOffices"
             Filter=@Filter
             currentPage="currentPage"
             totalPages="totalPages"
             SelectedPage="SelectedPage"
             ApplyFilterAsync="ApplyFilterAsync"
             CleanFilterAsync="CleanFilterAsync"
             AddAsync="Add">



    <Body>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ciudad</th>
                    <th>Sucursal</th>
                    <th>Contacto</th>
                    <th>Telefono</th>
                    <th style="width:260px"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var country in BranchOffices!)
                {
                    <tr>
                        <td>
                            @country.City?.Name
                        </td>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            @country.Contact
                        </td>
                        <td>
                            @country.Phone
                        </td>
                        <td>
                            <button class="btn btn-warning" @onclick=@(() => EditAsync(country.Id))> <i class="oi oi-pencil" /> </button>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(country.Id))> <i class="oi oi-trash" /> </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>


    </Body>

    <PopUpAddEdit>

        <BranchOfficeForm @ref="branchOfficeForm" Title="@TitlePopUp" BranchOffice="branchOffice" OnValidSubmit="OnValidSubmit" ReturnAction="Return" />

    </PopUpAddEdit>
</GenericList>



@code {
    public List<BranchOffice>? BranchOffices { get; set; }
    private int currentPage = 1;
    private int totalPages;
    private bool ShowPopUp = false;
    public string TitlePopUp = null!;
    private BranchOffice branchOffice = new();
    private BranchOfficeForm? branchOfficeForm;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync(int page = 1)
    {

        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = $"api/branchOffices/GetAll?page={page}&filter={Filter}";
        string url2 = $"api/branchOffices/totalPages?&filter={Filter}";

        var responseHppt = await repository.Get<List<BranchOffice>>(url1);
        var responseHppt2 = await repository.Get<int>(url2);
        BranchOffices = responseHppt.Response!;
        totalPages = responseHppt2.Response!;



        //var responseHppt = await repository.GetAsync<List<Country>>("api/countries/GetAll");
        //Countries = responseHppt.Response!;
    }

    private void Add()
    {
        TitlePopUp = "Agregar Sucursal";
        branchOffice = new();
        ShowPopUp = true;
    }

    private async Task EditAsync(int BranchOfficeId)
    {
        TitlePopUp = "Modificar Ciudad";


        var responseHttp = await repository.Get<BranchOffice>($"/api/branchOffices/{BranchOfficeId}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await Alert.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        else
        {
            branchOffice = responseHttp.Response!;
            ShowPopUp = true;
        }

    }

    private async Task OnValidSubmit()
    {

        if (branchOffice?.Id > 0)
            await Edit();
        else
            await Create();

    }

    private async Task Create()
    {
        var httpResponse = await repository.Post("/api/branchOffices", branchOffice);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await Alert.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await Return();

        JS.ShowToast("Se guardo correctamente", TypeAlert.success, AlertPosition.center_end, false, 2000);
    }

    private async Task Edit()
    {
        branchOffice.City = null;
        var responseHttp = await repository.Put("/api/branchOffices", branchOffice);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await Alert.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await Return();


        JS.ShowToast("Se modifico correctamente", TypeAlert.success, AlertPosition.center_end, false, 2000);

    }

    private async Task DeleteAsync(int Id)
    {

        if (!await JS.Confirm("Confirmación", "¿Esta seguro que quieres borrar el registro?", "SI", TypeAlert.question))
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/branchOffices/{Id}");

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await Alert.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            await LoadAsync();
            JS.ShowToast("Se elimino correctamente", TypeAlert.success, AlertPosition.center_end, false, 2000);
        }


    }

    private async Task Return()
    {
        await LoadAsync();
        ShowPopUp = false;
    }

    #region DataGrid

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync("");
    }

    private async Task ApplyFilterAsync(string filter)
    {
        Filter = filter;
        int page = 1;
        await SelectedPage(page);
    }
    #endregion
}

